## Calculate
1. 20 plus 30
2. 20 minus 30
3. 20 times 30
4. 20 divided by 30
5. 20 to the power 30 (use double astericks **)

In [1]:
20 + 30

50

In [2]:
20 - 30

-10

In [3]:
20 * 30

600

In [4]:
20 / 30

0.6666666666666666

In [5]:
20 ** 30

1073741824000000000000000000000000000000

## Variable
1. create a variable a and assign the value 20
2. create a variable b and assign the value 30
3. add a and b
4. multiply a and b

In [7]:
a = 20

In [8]:
b = 30

In [9]:
print (a + b)

50

In [10]:
print (a * b)

600

# Printing

In [1]:
#Assign city & country and print
city = "Amsterdam"
country = "UnitedStates"

In [2]:
#print separator (default way print is space)
print (city, country)

Amsterdam UnitedStates

In [5]:
#print separator (specify separator)
print (city, country, sep=" ")

Amsterdam UnitedStates

In [6]:
#print separator (specify separator)
print (city, country, sep="-")

Amsterdam-UnitedStates

In [7]:
#print separator (specify separator)
print (city, country, sep=" - ")

Amsterdam - UnitedStates

In [8]:
#print separator (specify separator)
print (city, country, sep=" & ")

Amsterdam & UnitedStates

In [9]:
#print separator (specify separator)
print (city, country, sep=" : ")

Amsterdam : UnitedStates

In [10]:
#print end of line (default is print in next line)
print (city)
print (country)

Amsterdam
UnitedStates

In [11]:
#print end of line
print (city, sep=" ", end="\n")
print (country)

Amsterdam
UnitedStates

In [12]:
#print end of line
print (city, sep=" ", end=".")
print (country)

Amsterdam.UnitedStates

# Datatypes

In [17]:
# Integer (without decimal)
age = 42
type(age)

int

In [2]:
# Another way that print the class.
age = 42
print (type(age))

<class 'int'>

In [16]:
# Float (with decimal)
mypoint = 3.14
type(mypoint)

float

In [3]:
# Another way that print the class.
mypoint = 3.14
print (type(mypoint))

<class 'float'>

In [18]:
# String (greeting) (can use single quote also)
greeting = "hellow world!"
type(greeting)

str

In [19]:
# Boolean (True or Talse) (should start in upper case)
answer = True
type(answer)

bool

In [23]:
# Boolean (true or false) (should start in upper case)
answer = False
type(answer)

bool

In [ ]:
## Exercise ##
# Run this in cell and use type () function to check your answers
a = 42
b = "hellow world"
c= 3.14
d = 100
e = "23"
f = 10 * 10
g = 10 / 10
h = [1, 2, 3]
i = {"name": "binu", "age": 38, "role": "tech-consultant"}

In [29]:
type(a)

int

In [30]:
type(b)

str

In [31]:
type(c)

float

In [32]:
type(d)

int

In [8]:
e = "23"
type(e)

str

In [9]:
f = 10 * 10
type(f)

int

In [13]:
g = 10 / 10
print (g)
print (type(g))

1.0
<class 'float'>

In [11]:
h = [1, 2, 3]
type(h)

list

In [16]:
i = {"name": "binu", "age": 38, "role": "tech-consultant"}
type(i)

dict

# Importance of datatypes.

In [1]:
# Combine int & str 
# will get error, see the error 'unsupported operand type(s) for +: 'int' and 'str''
age = 38
greeting = "hellow world"

print (age + greeting)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [21]:
# Combine strings - working example
greeting_1 = "hellow world! "
greeting_2 = "have a nice day."

print (greeting_1 + greeting_2)

hellow world! have a nice day.

In [22]:
# String division
# will get an error since the division is unsupported for string and integer
greeting / 2

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [1]:
# String division. Only the working way is :-
10 / 10

1.0

In [23]:
# String multiplication
# It works as the multiplication.
age = 38
print (age * 2)

76

In [24]:
# String multiplication
# With double quotes it takes as text 38.
age = "38"
print (age * 2)

3838

# Strings

In [1]:
# Quotation marsk - single/double
greeting = "hellow world!"

In [2]:
print(greeting)

hellow world!

In [5]:
# Next/New line printing.
greeting = "hellow \n world!"
print(greeting)

hellow
 world!

In [6]:
# Next/New line printing without space 
greeting = "hellow\nworld!"
print(greeting)

hellow
world!

In [8]:
# Special characters (escape). throwing error.
sentence = "how to use " in a sentence"
print (sentence)

SyntaxError: invalid syntax (2751519859.py, line 2)

In [9]:
# Special characters (escape). Use \ to deal with this syntax error.
sentence = "how to use \" in a sentence"
print (sentence)

how to use " in a sentence

In [6]:
# Special characters (escape). Use \ twice.
sentence = "You can use an \"escape\" character"
print (sentence)

You can use an "escape" character

In [7]:
# Methods: title
sentence.title()

'You Can Use An "Escape" Character'

In [10]:
# Methods: replace
sentence.replace("You", "We")

'We can use an "escape" character'

In [ ]:
#Exercice

1. Run the cell below to assign the variable pangram
2. Use the .upper() method to print the pangram capital letters
3. Use the .replace() method to replace the word "quickly" with "slowly"
4. Use the square brackets [] to print only letter "f" {from "five"}
5. Use the square brackets [] to print only the word "boxing"

In [22]:
#1 
pangram = "The five boxing wizards jump quickly."

In [13]:
#2
pangram.upper()

'THE FIVE BOXING WIZARDS JUMP QUICKLY.'

In [25]:
#3
pangram.replace ("quickly", "slowly")

'The five boxing wizards jump slowly.'

In [27]:
#Counting which position the letter is in quickly.
pangram.count("u")

2

In [28]:
#4
pangram[4]

'f'

In [30]:
#5
pangram[9:15]

'boxing'

Documentation : https://docs.python.org

In [52]:
# F-strings (name & city)
name = "Binu"
city = "Bangalore"
print("My name is " + name + " and I live in " + city + ".")
print("My name is ", name, " and I live in ", city, ".",)
print("My name is ", name, " and I live in ", city, ".", sep="")
print("My name is {} and I live in {}".format(name, city))
print("My name is {} and I live in {}.".format(name, city))

My name is Binu and I live in Bangalore.
My name is  Binu  and I live in  Bangalore .
My name is Binu and I live in Bangalore.
My name is Binu and I live in Bangalore
My name is Binu and I live in Bangalore.

#User Input

In [4]:
# Get user input (day)
input("What day is it?")

What day is it?Thursday

'Thursday'

In [6]:
# Get user input (day) with variable
day = input ("What day is it?")

What day is it?Thursday

In [7]:
# Print variable
print(day)

Thursday

In [8]:
# Type of user input
type(day)

str

# Getting user input
# Example
day = input("Which day is it?")
print("Today is", day)

# Excericse
1. Create a variable called name. Use the input function to get the user's name.
2. Use the variable name to print a greeting to the screen, like Hellow nice to meet you John.

In [9]:
#1
name = input("What is your name? ")

What is your name? Binu

In [10]:
#2
print("Hellow nice to meet you", name)

Hellow nice to meet you Binu

# Type Casting

In [11]:
# Input: score
score = input("What was your score? ")

What was your score? 100

In [12]:
# Type of score
type(score)

str

In [15]:
# Calculate
print(score * 2)

100100

In [19]:
# Text to numerical
score = "100"
print(type(score))

score = int("100")
print(type(score))

score = int(score)
print(type(score))

<class 'str'>
<class 'int'>
<class 'int'>

In [20]:
# Double score
print(score * 2)

200

In [21]:
# Days per week
days_per_week = 7
type(days_per_week)

int

In [22]:
# Sentence (error)
sentence = "The number of days per week is" + days_per_week

TypeError: can only concatenate str (not "int") to str

In [23]:
# Convert to string
type(str(days_per_week))

str

In [25]:
# Sentence correcting.
sentence = "The number of days per week is " + str(days_per_week)
print(sentence)

The number of days per week is 7

Exercise

1. Use the function str() to fix the bug in the code below.
2. use the funtion int () to fix the bug in the code below.

In [26]:
#1
number_of_moons = 79
sentence = "The total number (known) moons for the planet Jupiter is " + number_of_moons
print(sentence)

TypeError: can only concatenate str (not "int") to str

In [27]:
#2
age_in_years = input("What is your age? ")
age_in_months = age_in_years * 12
print("Your age in month is:", age_in_months)

What is your age? 38
Your age in month is: 383838383838383838383838

In [28]:
#1 Fix. Convert to string
number_of_moons = 79
sentence = "The total number (known) moons for the planet Jupiter is " + str(number_of_moons)
print(sentence)

The total number (known) moons for the planet Jupiter is 79

In [29]:
#2 Fix. Convert into integer
age_in_years = input("What is your age? ")
age_in_years = int(age_in_years)
age_in_months = age_in_years * 12
print("Your age in month is:", age_in_months)

What is your age? 38
Your age in month is: 456