#### RECAP #### START

DATA TYPES:

a = 42                                      # integer
b = 3.12                                    # float
c = "hellow world"                          # string
d = [1, 2, 3]                               # list
e = {1, 2, 3}                               # tuple
f = {"name": "John", "role": "developer"}   # dict
g = {"a", "b", "c"}                         # set

In [20]:
# Print statements
first_name = "Binu"
last_name = "KR"
print(first_name, last_name, sep="-", end="\n")

Binu-KR

In [24]:
# Strings
pangram = "The five boxing wizards jump quickly"
print(pangram[0])
print(pangram.title())
print(pangram.replace("five", "ten"))

T
The Five Boxing Wizards Jump Quickly
The ten boxing wizards jump quickly

In [26]:
# User Input
day = input("which day is it? ")
print("Today is", day)

which day is it? Friday
Today is Friday

In [30]:
# Type Casting - The conversion between the types.

# Integer to string
days_per_week = 7
str(days_per_week)

'7'

In [31]:
# Type Casting - The conversion between the types.

# String to integer
score = "100"
int(score)

100

#### RECAP #### END

# Topics:

- Lists
- Tuples
- Mutability
- Dictionaries
- Sets

# Best Practice: Variable Naming Conventions

In [6]:
# Bad example
result = 420

In [7]:
# Good example (age in months)
age_in_months = 420

In [5]:
# Temperature in celcius (bad)
tempcelc = 25

In [8]:
# snake_case
temperature_celcius = 25
# This way of naming in python called snakecase and it is default.

In [3]:
# camelCase
temperatureCelcius = 25
# Mainly used in other languages not in python.

In [2]:
# PascalCase
TemperatureCelcius = 25
# Using in python but for classes not for variable naming.

In [4]:
# kebab-case
# temperature-celcius = 25 --> commenting since this is a error because of hyphon (-).
# (shortcut between commenting and uncommenting --> "Ctrl /"")

# Lists

In [22]:
# Ingredients lists
ingredients = ["ham", "bacon", "spam", "eggs"]

In [10]:
# Type
type(ingredients)

list

In [15]:
# Indexing
ingredients[0]

'ham'

In [16]:
# Indexing
ingredients[3]

'eggs'

In [18]:
# Slicing
ingredients[0:2]

['ham', 'bacon']

In [23]:
# Methods: append
ingredients.append("cheese")
print(ingredients)

['ham', 'bacon', 'spam', 'eggs', 'cheese']

In [24]:
# Methods: remove
ingredients.remove("cheese")
print(ingredients)

['ham', 'bacon', 'spam', 'eggs']

In [25]:
# Methods: extend
extra = ("cheese", "onion", "peppers")
ingredients.extend(extra)
print(ingredients)

['ham', 'bacon', 'spam', 'eggs', 'cheese', 'onion', 'peppers']

In [26]:
type(ingredients)

list

In [27]:
# Methods: sort
ingredients.sort()
print(ingredients)

['bacon', 'cheese', 'eggs', 'ham', 'onion', 'peppers', 'spam']

In [29]:
# Methods: sort reverse
ingredients.sort(reverse=True)
print(ingredients)

['spam', 'peppers', 'onion', 'ham', 'eggs', 'cheese', 'bacon']

In [32]:
# Del
del ingredients[0]
print(ingredients)

['peppers', 'onion', 'ham', 'eggs', 'cheese', 'bacon']

In [34]:
# Re-assign
ingredients = ["ham", "bacon", "spam", "eggs"]
print(ingredients)

['ham', 'bacon', 'spam', 'eggs']

In [35]:
# Indentation
cars = ["Ford", "Mercedes", "Nissan"]
cars[0] = "Tesla"
print(cars)

['Tesla', 'Mercedes', 'Nissan']

In [37]:
# Pop
cars = ["Ford", "Mercedes", "Nissan"]
print(cars.pop())
# It popped/removed Nissan out and printed it.

Nissan

In [38]:
# And the original list changed.
print(cars)

['Ford', 'Mercedes']

In [39]:
# Spaces
# Spaces can be removed. But better use with spaces in projects.
# ingredients = ["ham", "bacon", "spam", "eggs"]
# ingredients=["ham","bacon","spam","eggs"]

In [47]:
# Useful: toppings & order with .join()
ingredients = ["ham", "bacon", "spam", "eggs"]
toppings = ", ".join(ingredients)
print(toppings)

ham, bacon, spam, eggs

# Tuples

In [48]:
# The Dutch flag (*)
flag = ("red", "white", "blue")
print(flag)
print(type(flag))

('red', 'white', 'blue')
<class 'tuple'>

In [49]:
# Tuple unpacking
first_color, second_color, third_color = flag
print(first_color)
print(second_color)
print(third_color)

red
white
blue

In [50]:
# Tuple packing
flag = (first_color, second_color, third_color)
print(flag)

('red', 'white', 'blue')

In [53]:
# Index
flag[1]

'white'

In [59]:
# Slice
# Slicing first and second colors. (also can use flag[:2])
flag[0:2]

('red', 'white')

In [67]:
# Method count
flag.count("red")

1

In [68]:
# Method indexing
flag.index("red")

0

# Example

1. Assign the variable workweek = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
2. Use the index position (square brackets) to print your favorite workday
3. Use the index positions to print the last two days on the workweek
4. Use the .count() method to find out how many times the letter "b" is in ("a", "b", "b", "a", "b", "a", "b", "b")
5. Trcik question: remove "Monday" from the workweek

In [69]:
#1
workweek = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")

In [70]:
#2
workweek[-2]

'Thursday'

In [73]:
#3
workweek[-2:]

('Thursday', 'Friday')

In [74]:
#4
("a", "b", "b", "a", "b", "a", "b", "b").count("b")

5

In [ ]:
#5
# workweek.remove("Monday") won't work since tuple has no remove attribute here except count & index.
# del workweek[0] also won't work since tuple doesn't support deletion.
# So tjhe option is to re-set the workweek without Monday.
# Note the lists are mutable where tuples are immutable.

# Mutability vs Immutability

Note the lists are mutable where tuples are immutable.
Immutable it cannot change once create them.

In [76]:
# Change a color
colors = ["yellow", "orange", "red"]
colors[0]="blue"
print(colors)

['blue', 'orange', 'red']

In [77]:
# List colors, add one
colors.append("green")
print(colors)

['blue', 'orange', 'red', 'green']

In [78]:
# Tuple colors, change first / add one
colors = ("yellow", "orange", "red")
colors[0] = "blue"
# Throws error, even with append. This cannot be changed since this is immutable.

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Tuple colors, methods:

In [82]:
# Strings: alphabet index
alphabet = "abcde"
alphabet[-1]

'e'

In [81]:
# Strings: alphabet immutability
# Try overwrite with "z"
alphabet[-1] = "z"
# Note that this is not supported.

TypeError: 'str' object does not support item assignment

Mutable:    Immutable:
list        bool  
dict        int
set         float
            str
            tuple

# Dictionaries

In [83]:
# Dictionary person Alice (the key:value pair)
person = {"name": "Alice", "age": 42, "country": "Wonderland", "email": "alice@wonderland.com"}
print(person)

{'name': 'Alice', 'age': 42, 'country': 'Wonderland', 'email': 'alice@wonderland.com'}

In [84]:
# Keys
person.keys()

dict_keys(['name', 'age', 'country', 'email'])

In [85]:
# Values
person.values()

dict_values(['Alice', 42, 'Wonderland', 'alice@wonderland.com'])

In [86]:
# Items
person.items()

dict_items([('name', 'Alice'), ('age', 42), ('country', 'Wonderland'), ('email', 'alice@wonderland.com')])

In [87]:
# Items
list(person.items())

[('name', 'Alice'),
 ('age', 42),
 ('country', 'Wonderland'),
 ('email', 'alice@wonderland.com')]

In [90]:
# Get
person.get("name")

'Alice'

In [91]:
# Get
person.get("age")

42

In [95]:
# Shortcut
person["name"]

'Alice'

In [96]:
# Shortcut
person["email"]

'alice@wonderland.com'

In [98]:
# Difference with Lists. 
colors = ["yellow", "orange", "red"]
colors[0]

'yellow'

In [99]:
# In dictionary it is not allowed/possible to use slicing/indexing like above.
person[0]

KeyError: 0

In [100]:
# It should be key
person["email"]

'alice@wonderland.com'

Exercice:

1. Assign the variable grades = {"French": 75, "English": 95, "Math": 100, "Biology": 80}
2. Use the .get() method to print the grade for Biology
3. Get the grade for Biology again by using the shortcut
4. Use the .keys() method to print all keys(subjects) in the dictionary
5. Use the .values() method to print all values(grades) in the dictionary
6. Use the .items() method to print a list of tuples of the subjects and their respective grades.

Extra challenge 1: Add "Drama" to the dictionary with a grade of 85
Extra challenge 2: Calculate the average grade.

In [101]:
#1
grades = {"French": 75, "English": 95, "Math": 100, "Biology": 80}

In [102]:
#2
grades.get("Biology")

80

In [105]:
#3
grades["Biology"]

80

In [106]:
#4
grades.keys()

dict_keys(['French', 'English', 'Math', 'Biology'])

In [107]:
#5
grades.values()

dict_values([75, 95, 100, 80])

In [108]:
#6
grades.items()

dict_items([('French', 75), ('English', 95), ('Math', 100), ('Biology', 80)])

In [110]:
#6.1
list(grades.items())

[('French', 75), ('English', 95), ('Math', 100), ('Biology', 80)]

In [111]:
#EC1
grades["Drama"] = 85
print(grades)

{'French': 75, 'English': 95, 'Math': 100, 'Biology': 80, 'Drama': 85}

In [114]:
#EC2
total = sum(grades.values())
print(total)

nr_subjects = len(grades.values())
print(nr_subjects)

average = total / nr_subjects
print(average)

435
5
87.0

# Sets

In [128]:
# Unique chars from list of chars
chars = ["a", "b", "b", "b", "c"]

unique_chars = set(chars)
print(unique_chars)

{'a', 'c', 'b'}

In [129]:
# Unordered (index not possible)
unique_chars[0]

TypeError: 'set' object is not subscriptable

In [130]:
# In
"b" in unique_chars

True

In [131]:
# In
"c" in unique_chars

True

In [132]:
# In
"d" in unique_chars

False

In [133]:
# Methods: Add
unique_chars.add("d")
print(unique_chars)

{'a', 'd', 'c', 'b'}

In [134]:
# Methods: Remove
unique_chars.remove("d")
print(unique_chars)

{'a', 'c', 'b'}

In [139]:
# Lens chars vs unique
print(len(chars))
print((len)(unique_chars))
print ("Duplicates:", len(chars) - len(unique_chars))

5
3
Duplicates: 2

In [148]:
# Fun with sets: abcd & bdde
set1 = set(["a", "b", "c", "d"])
set2 = set(["b", "d", "d", "e"])

In [141]:
# Intersection: set of identical items present in both sets
set1.intersection(set2)

{'b', 'd'}

In [142]:
# Difference: items that are in set1 but not in set2
set1.difference(set2)

{'a', 'c'}

In [143]:
# Union: all items from both sets (without duplicates)
set1.union(set2)

{'a', 'b', 'c', 'd', 'e'}

In [144]:
# Symmetric difference: all items in either set1 or set2 but not both
set1.symmetric_difference(set2)

{'a', 'c', 'e'}

In [149]:
# Issubset: True if all elements of set1 are in set2, otherwise false (eg:1)
set1.issubset(set2)

False

In [146]:
# Issubset: True if all elements of set1 are in set2, otherwise false (eg:2)
set1 = set(["a", "b", "c", "d", "c"])
set2 = set(["b", "d", "d", "e", "a", "c"])

In [147]:
set1.issubset(set2)

True

Exercise:

1. Assign the variable names = ["Debora", "John", "Tyler", "Linda", "Douglas", "Jessica", "Tyler", "John", "Danielle", "Jessica"]
2. Create variable unique_names and assign it list of the names, but without duplicates. Print the result to the screen.
3. How often does a name appear multiple times in the list? Use Python to find the answer. 
4. Use the .add() method add your own name to the list with unique names.

Extra Challenge: Which names are the most common? How often do they appear in the original list?

In [150]:
#1
names = ["Debora", "John", "Tyler", "Linda", "Douglas", "Jessica", "Tyler", "John", "Danielle", "Jessica"]

In [151]:
len(names)

10

In [152]:
#2
unique_names = set(names)
print(unique_names)

{'Danielle', 'Linda', 'Douglas', 'Tyler', 'Debora', 'Jessica', 'John'}

In [153]:
#3
len(names) - len(unique_names)

3

In [154]:
#4
unique_names.add("Binu")
print(unique_names)

{'Danielle', 'Linda', 'Douglas', 'Tyler', 'Debora', 'Jessica', 'John', 'Binu'}

In [155]:
len(unique_names)

8

In [157]:
#ES
from collections import Counter

In [158]:
#ES
Counter(names).most_common()

[('John', 2),
 ('Tyler', 2),
 ('Jessica', 2),
 ('Debora', 1),
 ('Linda', 1),
 ('Douglas', 1),
 ('Danielle', 1)]

In [159]:
#ES
Counter(names).most_common(3)

[('John', 2), ('Tyler', 2), ('Jessica', 2)]

# Try/Except

In [160]:
# Syntax error with while True print
while True print("test")

SyntaxError: invalid syntax (3067906403.py, line 2)

In [167]:
# Get an integer (age) from user input 
# Note it is not throwing any error while answering to age question with age and name.
age = (input("What is your age please? "))

What is your age please? 38

In [162]:
# Get an integer (age) from user input 
# Note it is not throwing any error while answering to age question with age and name.
age = (input("What is your age please? "))

What is your age please? Binu

In [169]:
type(age)

str

In [163]:
# Get an integer (age) from user input 
# Now add integer inputs and see when you give the answers.
age = int(input("What is your age please? "))

What is your age please? 38

In [164]:
# Get an integer (age) from user input 
# Now add type casting inputs and see when you give the answers.
age = int(input("What is your age please? "))

What is your age please? Binu

ValueError: invalid literal for int() with base 10: 'Binu'

In [165]:
type(age)

int

In [172]:
# With try/except - 1
try:
    age = int(input("What is your age please? "))
    print("Your age is", age)
except ValueError:
    print("Please enter a number")

What is your age please? Binu
Please enter a number

In [173]:
# With try/except - 2
try:
    age = int(input("What is your age please? "))
    print("Your age is", age)
except ValueError:
    print("Please enter a number")

What is your age please? 38
Your age is 38

Exercise:

1. Follow the example to fix the bug in he code below. If the user gives 0 as inputs, the program cashes. It should print a warning like "Entered a zero. Try again". Hint: note that this is not a ValueError, but another one.

x = int(input("Please enter a (non-zero) number:  "))
print("The outcome is" , 100 / x)

In [178]:
#1
try:
    x = int(input("Please enter a (non-zero) number:  "))
    print("The outcome is" , 100 / x)
except ZeroDivisionError:
    print("Entered a zero. Try again")

Please enter a (non-zero) number:  0
Entered a zero. Try again

In [179]:
#1.1
try:
    x = int(input("Please enter a (non-zero) number:  "))
    print("The outcome is" , 100 / x)
except ZeroDivisionError:
    print("Entered a zero. Try again")

Please enter a (non-zero) number:  50
The outcome is 2.0